.navbar{
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	background-color: white;
}
.navbar a{
	padding: 0 10px;
}
.main-page{
	width: 100vw;
	height: 100vh;
	background-color: gray;
	color: white;
}
.button{
	border-radius: 10px;
	border-color: black;
	border: 2px;
}